api/.env
.idea/blade.xml
.idea/deployment.xml
.idea/misc.xml
.idea/modules.xml
.idea/tenposs.iml
.idea/vagrant.xml
.idea/vcs.xml
.idea/webServers.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
backend/.idea/backend.iml
backend/.idea/blade.xml
backend/.idea/deployment.xml
backend/.idea/misc.xml
backend/.idea/modules.xml
backend/.idea/vagrant.xml
backend/.idea/webServers.xml
backend/.idea/workspace.xml
backend/.idea/copyright/profiles_settings.xml
mobile/.idea/blade.xml
mobile/.idea/deployment.xml
mobile/.idea/misc.xml
mobile/.idea/mobile.iml
mobile/.idea/modules.xml
mobile/.idea/vagrant.xml
mobile/.idea/webServers.xml
mobile/.idea/workspace.xml
mobile/.idea/copyright/profiles_settings.xml
lp/offical_tenposs_backend/.idea/*
