/* Category */
#category {
    border-bottom: 1px solid #eee;
}

#category .swiper-slide {
    padding: 40px 0;
    text-align: center;
    font-size: 24px;
}

#category .swiper-button-next, #category .swiper-button-prev {
    background-size: 15px 44px;
}

#category .swiper-button-prev {
    left: 5%;
}

#category .swiper-button-next {
    right: 5%;
}

/* Coupon Detail */
.notication {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    vertical-align: middle;
    text-align: center;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

.notication .noti_inside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notication .noti_inside p {
    color: #fff;
}

.infodetail {
    padding: 40px 0;
}
.entrydetail{
    margin: 0 -20px 60px -20px ;
    border-top: 1px solid #c8d2d6;
    padding: 30px 40px 0;
}
@media screen and (max-width:479px){
    
    .entrydetail{
        margin: 0 -10px 30px -10px ;
        border-top: 1px solid #c8d2d6;
        padding: 30px 20px 0;
        
    }
    .infodetail {
        padding:20px 0;
        font-size:16px;
    }
    
    .infodetail, .entrydetail p{
        font-size:14px;
    }
}

.infodetail {
   
    position: relative;
}
.infodetail h3.title-coupon {
    margin:0;
    margin-bottom:5px;
}

.infodetail .wrap-title-detail h3 {
    margin: 10px 0;
    width:70%;
    display:inline-block;
    vertical-align: middle;
}

.infodetail p span {
    color: #96a0a4;
}

.infodetail .dateadd {
    color: red;
}

/*.wrap-title-detail .infodetail .news-dateadd {
    position: absolute;
    top: 83px;
    right: 20px;
    color: #96a0a4;
}*/

.infodetail .wrap-title-detail .news-dateadd{
    display:inline-block;
    width:29%;
    vertical-align: middle;
    color: #96a0a4;
    text-align: right;
}

@media screen and (max-width:479px){
    .infodetail .wrap-title-detail h3 {
        width:63%;
        font-size:16px;
        margin:0;
    }
    .infodetail .wrap-title-detail .news-dateadd{
        font-size:12px;
        width:35%;
        vertical-align: top;
    }
}

.infodetail .form-mail {
    margin: 50px 0 10px;
}
@media screen and (max-width:479px){
    .infodetail .form-mail{
         margin: 30px 0 10px;
    }
}

.infodetail .form-mail .input-group{
    border:none;
}

.infodetail .form-mail .form-control {
    font-size: 24px;
    line-height: 70px;
    height: 70px;
    background:#f8f8fa;
    border:none;
    font-weight: 600;
}
@media screen and (max-width: 479px){
    .infodetail .form-mail .form-control{
        height:40px;
        line-height: 40px;
        font-size: 16px;
    }
}

.infodetail .form-mail .input-group-addon {
    font-size: 24px;
    min-width: 160px;
    text-align: center;
    background: #14c8c8;
    color: #fff;
    border:none;
}

@media screen and (max-width:479px){
    .infodetail .form-mail .input-group-addon {
        font-size:18px;
        min-width: auto;
    }
}
.infodetail .form-mail a {
    color: #fff;
}

#below-content {
 
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: #14c8c8;
    color: #fff;
    margin-bottom: 0;
    z-index: 999;
    max-width: 750px;
}
#below-content a {
    font-size: 20px;
    margin-bottom: 0;
    display: block;
    font-weight: 600;
    color: #FFF;
}


#below-content.disable{
   background: #ccc;
    
}


@media screen and (max-width:479px){
    #below-content a{
        font-size:18px;
    }
}


/*#page, #below-content-disable, #below-content-disable p {
    width: inherit;
}*/

#page, #below-content, #below-content p {
    width: inherit;
}

.qrcode-div {
    background: #14c8c8;
    position: relative;
    width:100%;
    min-height:270px;
    height: auto;
    clear:both;
    padding:10px;
    border-radius: 4px;
    border: 1px solid #14c8c8;
}
.qrcode-div svg {
    display: block;
    margin: 0 auto;
}
.qrcode-div h4 {
    color: #fff;
    font-weight: 300;
}
.qrcode-div h4.intro{
    color: #fff;
    font-weight: 300;
    opacity: .75;
    font-size: 16px;
}
.qrcode-div hr {
    border-style: dashed;
}
.qrcode-div button{
    color: #14c8c8;
    border: 0;
    outline: none;
}
.qrcode-div .dropdown-menu {
    width: 100%;
}
.qrcode-div .dropdown-menu li {
    text-align: center;
}



.item-coupon{
    margin-top: 20px;
}
/* image coupon */
.item-coupon .image{
    padding: 4px;
    border-radius: 4px;
    box-shadow: 0 2px 2px #ddd;
    -webkit-box-shadow: 1px 1px 2px #ddd;
    -moz-box-shadow: 0 2px 2px #ddd;
    margin-right: 25px;
}


.item-coupon img{
    max-width: 220px;
    width:100%;
    height: 220px;
}
@media screen and (max-width:479px){
    .item-coupon img{
        height:100px;
        max-width:100px;
        
    }
    .item-coupon .image{
        margin-right: 10px;
    }
}
/* info coupon */
.item-coupon a{
    display: block;
    margin: 20px 0 5px;
}
@media screen and (max-width:479px){
    .item-coupon a{
        font-size:14px;
        margin: 0;
    }

}
.item-coupon h3{
    color: #505a5e;
    margin: 20px 0 10px;
    font-size: 24px;
}
@media screen and (max-width:479px){
    .item-coupon h3{
        font-size:14px;
        margin: 5px 0;
    }
}
.item-coupon p{
    color: #96a0a4;
    max-height: 100px;
    overflow: hidden;
}
@media screen and (max-width:479px){
   .item-coupon p{
        font-size:14px;
        max-height: 58px;
   }
}

.dot-middle{
    text-align: center;
    margin-right: 12px;
    position: relative;
}
.dot-middle:after{
    content: ".";
    color: #96a0a4;
    bottom: 0px;
    position: absolute;
    font-size: 37px;
}
@media screen and (max-width:479px){
   .dot-middle:after{
        bottom: -5px;
   }
}

#appy-cupon-success{
    background: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}
#appy-cupon-success-inner{
    text-align: center;
    color: #FFF;
    margin-top: 40%;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
   
#appy-cupon-success-inner img{
   margin-bottom: 20px;
}
#appy-cupon-success-inner p{
    font-weight: 500;
}
@media screen and (max-width:479px){
   #appy-cupon-success-inner img{
        width: 60px;
   }
   #appy-cupon-success-inner p{
       font-size: 14px;
   }
}