/* Category */
#category {
    border-bottom: 1px solid #eee;
}

#category .swiper-slide {
    padding: 40px 0;
    text-align: center;
    font-size: 24px;
}

#category .swiper-button-next, #category .swiper-button-prev {
    background-size: 15px 44px;
}

#category .swiper-button-prev {
    left: 70px;
}

#category .swiper-button-next {
    right: 70px;
}

/* Menu detail */
.info-productdetail {
    padding: 40px 0 35px;
    position: relative;
}

.info-productdetail {
    border-bottom: 1px solid #ddd;
}

.info-productdetail p {
    margin: 10px 0 40px;
}

.info-productdetail span {
    color: #96a0a4;
}

.info-productdetail span.price {
    position: absolute;
    top: 80px;
    right: 20px;
    font-weight: bold;
    font-size: 36px;
    color: red;
}

.entry-productdetail {
    padding: 30px 0 0;
}

.entry-productdetail .option {
    background: #f8f8fa;
    padding: 10px;
    border-radius: 4px;
    /*margin-bottom: 50px;*/
}

.entry-productdetail p {
    text-align: justify;
}

.entry-productdetail .option span {
    padding: 22px 10px;
    display: inline-block;
    margin-right: 20px;
    width: 332px;
    font-size: 24px;
}

.entry-productdetail .option span:last-child {
    margin-right: 0;
}

.entry-productdetail .option span.switch-on {
    background: #fff;
    border: 1px solid #eee;
    color: #14c8c8;
}

#related {
    border-top: 30px solid #f8f8fa;
}

#myTab li {
    width: 50%;
    text-align: center;
    border: 0;
}

#myTab li.active a {
    border: 0;
}

#myTab {
    border: 0;
}

.image_size {
    width: 354px;
    height: 354px;
}

.image_size_detail {
    width: 1024px;
    height: 1024px;
}

/*UPDATE STAFF DETAIL (11/10/2016)*/
ul.nav-switch{
    list-style:none;
    padding:0;
    margin: 0;
}
ul.nav-switch li{
    display:inline-block;
    padding: 22px 0px;
    /*margin-right: 20px;*/
    width: 49%;
    text-align: center;
    font-size: 24px;
}
ul.nav-switch li a{
    display: block;
    color:#333;
}
ul.nav-switch li.active{
    background: #fff;
    border: 1px solid #eee;
    border-radius:2px;
}
ul.nav-switch li.active a, ul.nav-switch li:hover a{
    color:#14c8c8;
}
div.general-content{
    padding:15px 0;
}
div.general-content .row{
    margin-bottom:15px;
}
}
div.general-content p.title-text{
    font-size:18px;
    font-style:italic;
}